@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&family=Inter&family=Julius+Sans+One&family=Oswald:wght@200&family=Quicksand:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', sans-serif;

}
